body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
 
}

.welcome{
    background-image: url(bg1.jpg);
}
.dream{
    background-image: url(bg2.jpg);
    background-position: top right;
}
.welcome, .dream, .experiences {
    background-repeat: no-repeat;
    margin-bottom: 70px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 22px;
}
h4{
    font-weight: 100;
    font-size: 18px;
}
.text{
    color: rgb(105, 105, 245);
}
.flex-bg{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    padding-top: 2%;
    padding-right: 5%;
}
.fahad-pic{
    width: 90%;
    border-radius: 500px;
}
.button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(69, 102, 192);
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(69, 102, 192), skyblue);
}
.developer{
    height: 400px;
    width: 50%;
    margin:0 30px ;
    box-shadow: 10px 10px 40px gray;
    padding:0 15px 0 20px;
    border-left: 7px solid;
    border-image-slice:1;
}
#full{
    border-image-source: linear-gradient( blue, skyblue ) ;
}
#baby{
    border-image-source: linear-gradient( to top, blue, skyblue);
}
footer{
    text-align: center;
    margin-bottom: 10px;
}